{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="capitalize col-sm-12">
            {{ title }}
            <a href="/delete/{{ title }}"> <i class="material-icons">delete_forever</i></a>
        </h1>

        <div class="list-group col-sm-12 col-lg-6">
            {% for r in data.results %}
                <a class="list-group-item list-group-item-light list-group-item-action" target="_blank" href="{{ r.link }}">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ r.text }}</h5>
                        <small>Just now</small>
                    </div>
                    <small>{{ r.link }}</small>
                </a>
            {% endfor %}
        </div>

        {% if data is not none and data.rhs is not none %}
            <div class="col-sm-12 col-lg-6">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{ data.rhs.title }}</h4>
                        <h4 class="">{{ data.rhs.sub_title }}</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                        <div class="list-group">
                            {% for key in data.rhs.details %}
                                <div class="list-group-item">
                                    <span class="mr-2 bold">{{ key }}</span>
                                    <span>{{ data.rhs.details[key] }}</span>
                                </div>                            
                            {% endfor %}
                        </div>                    
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}